@charset "UTF-8";

@media all and (max-width: 1300px){
    /*Estilos do Header*/

    section.head-menu nav{
        font-size: 14px;
    }
}

@media all and (max-width: 800px){
    /*Estilos do Body*/

    body{
        font-size: 1em;
        line-height: 1.3em;
    }

    /*Estilos do Header*/

    header{
        display: block;
    }

    section.head-pessoal > p{
        padding: 10px;
    }

    section.head-menu{
        position: sticky;
    }

    section.head-menu > nav{
        position: sticky;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        padding-bottom: 5px;
        padding-left: 10px;
    }

    /*Estilos do Main*/

    main{
        line-height: 1.3em;
    }

    div.opcao > div > p{
        padding: 0px;
        width: 300px;
    }

    section.conhecimento > table{
        width: 550px;
        height: 350px;
    }

    /*Estilos do Footer*/

    section.curriculo{
        font-size: 0.8em;
    }
}

@media all and (max-width: 650px){
    /*Estilos do Main*/

    main{
        line-height: 1.1em;
    }

    div.btn > img{
        width: 25px;
        height: 25px;
    }

    section.conhecimento > table{
        width: 400px;
        height: 350px;
    }

    /*Estilos do Aside*/

    aside{
        display: block;
    }

    section.info-pessoal > table{
        padding-top: 10px;
    }

    /*Estilos do Footer*/

    section.curriculo > h1{
        font-size: 17px;
    }
}

@media all and (max-width: 450px){
    /*Estilos do Main*/

    div.opcao > div{
        font-size: 12px;
        width: 320px;
    }

    div.opcao > div > p{
        padding: 5px;
    }

    div.btn > img{
        width: 20px;
        height: 20px;
    }

    /*Estilos do Footer*/

    section.redes-social > h1{
        font-size: 20px;
    }

    section.redes-social > a{
        margin-left: 30px;
    }

    section.redes-social > a > img{
        width: 15px;
        height: 15px;
        margin-top: 15px;
        margin-left: 0px;
    }

    section.curriculo > h1{
        font-size: 14px;
    }

    section.curriculo > p{
        font-size: 10px;
    }
}