@charset "UTF-8";

@media all and (max-width: 850px){
    /*=== style header ===*/

    header{
        flex-direction: column;
    }

    section.head-menu{
        padding: 5px;
        flex-direction: column;
        align-items: baseline;
    }

    /*=== style main ===*/

    div.slide > div{
        padding: 50px 60px;
    }
}

@media all and (max-width: 650px){
    /*=== style main ===*/

    div#sobre-mim > div{
        padding: 30px 60px;
    }

    div#projetos > div > ul > li{
        margin: 0px 30px;
    }

    /*=== style aside ===*/

    aside{
        flex-direction: column;
    }

    /*=== style footer ===*/

    footer > section{
        padding: 30px;
    }

    section.curriculo > nav > a{
        font-size: 12px;
    }
}

@media all and (max-width: 550px){
    /*=== style header ===*/

    section.head-menu{
       align-items: center;
    }

    /*=== style main ===*/

    div.slide > div{
        padding-right: 60px;
        line-height: 1em;
    }

    div#projetos > div > ul > li{
        margin: 10px 30px;
    }

    section.conhecimentos > table{
        width: 400px;
        height: 350px;
    }

    /*=== style footer ===*/

    section.curriculo{
        padding: 5px;
    }

    section.curriculo > div > a{
        font-size: 10px;
    }

    section.curriculo > div p{
        font-size: 10px;
    }
}