@charset "UTF-8";

@media all and (max-width: 850px){
    header{
        display: block;
    }

    section.head-menu{
        position: initial;
    }

    section.head-menu > nav{
        width: 100%;
        padding: 5px;
        position: initial;
        top: 0px;
        left: 0px;
        transform: translate(0px, 0px);
    }

    section.profissional{
        line-height: 1.5em;
    }

    div.opcao > div > p{
        width: 400px;
    }

    section.curriculo > h1{
        font-size: 1em;
    }

    section.curriculo > p{
        font-size: 12px;
    }
}

@media all and (max-width: 650px){
    div.opcao > div > p{
        width: 300px;
        padding: 5px;
        line-height: 1em;
    }

    div.btn > img{
        width: 25px;
        height: 25px;
    }

    section.conhecimento > table{
        width: 450px;
        font-size: 1em;
    }

    aside{
        display: block;
    }
}

@media all and (max-width: 450px){
    main h1{
        padding: 15px;
        font-size: 1.3em;
    }

    div.opcao > div > p{
        width: 210px;
        font-size: 13px;
        line-height: 1em;
    }

    div.btn > img{
        width: 20px;
        height: 20px;
    }

    section.conhecimento > table{
        width: 400px;
    }

    section.curriculo > h1{
        font-size: 15px;
    }

    section.curriculo > p{
        font-size: 11px;
    }
}