@charset "UTF-8";

@media all and (max-width: 850px){
    /*Style Header*/

    header{
        display: block;
    }

    section.head-menu{
        padding: 5px;
        display: block;
    }

    /*Style Main*/

    div.aba > div{
        padding: 60px;
    }
}

@media all and (max-width: 650px){
    /*Style Main*/

    div.aba > div{
        padding: 30px;
    }

    /*Style Aside*/

    aside{
        display: block;
    }

    /*Style Footer*/

    footer > section{
        padding: 30px;
    }

    section.curriculo > nav > a{
        font-size: 12px;
    }
}

@media all and (max-width: 450px){
    /*Style Header*/

    section.head-menu{
        display: flex;
    }

    /*Style Main*/

    div.aba > div{
        padding-right: 60px;
        line-height: 1em;
    }

    section.conhecimento > table{
        width: 400px;
        height: 350px;
    }

    /*Style Footer*/

    section.curriculo{
        padding: 5px;
    }

    section.curriculo > nav > a{
        font-size: 11px;
    }

    section.curriculo > nav p{
        font-size: 10px;
    }
}