@charset "UTF-8";

/*=== Font Family Criada ===*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}

/*=== Lista de Cores ===*/

:root{
    --cor01: #000000;
    --cor02: #F2F2F2;
    --cor03: #AEB9F2;
    --cor04: #BDD9F2;
    --cor05: #999999;
    --shadow: #00000077;
}

/*=== Configurações Globais ===*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: NotoSans, Arial, sans-serif, cursive;
}

html, body{
    width: 100%;
    height: 100vh;
}

/*=== Estilos do Body ===*/

body h1{
    font-family: Roboto, Arial, sans-serif;
    font-size: 2em;
}

/*=== Estilos do Header ===*/

header{
    width: 100%;
    background-color: var(--cor01);
    color: var(--cor02);
    display: flex;
}

header > section{
    width: 100%;
}

section.head-pessoal{
    padding: 30px;
    text-align: center;
}

section.head-pessoal > p{
    padding: 5px 0px;
    color: var(--cor05);
}

section.head-pessoal > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section.head-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.head-menu > nav > a{
    color: var(--cor02);
    padding: 0px 5px;
    text-decoration: none;
}

section.head-menu > nav > a:hover{
    text-decoration: underline;
}

/*=== Estilos da Main ===*/

main{
    width: 100%;
    
}

main h1{
    padding: 25px;
}

section.profissional{
    height: 350px;
    position: relative;
    overflow: hidden;
    background-color: var(--cor02);
}

div.slides{
    width: 400%;
    display: flex;
}

div.slide{
    width: 25%;
    transition: 0.5s;
}

div.slide > div{
    padding: 80px;
    line-height: 1.5em;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#formacao p, div#experiencia p{
    text-align: center;
    margin-left: 30px;
}

div#projetos > div > ul{
    columns: 2;
}

div#projetos > div > ul > li{
    margin: 0px 50px;
}

div#projetos > div > ul > li > a{
    text-decoration: none;
    color: var(--cor01);
}

div#projetos > div > ul > li > a:hover{
    text-decoration: underline;
}

div.atual{
    transition: 0.5s;
}

div.left{
    position: absolute;
    top: 50%;
    left: 1%;
}

div.right{
    position: absolute;
    top: 50%;
    right: 1%;
}

div.left > button, div.right > button{
    width: 50px;
    height: 50px;
    font-size: 2em;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
}

div.nav{
    display: flex;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -4%);
}

div.nav > div{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid var(--cor01);
    cursor: pointer;
}

div.nav > div.atual{
    background-color: var(--cor01);
}

section.conhecimentos{
    height: 500px;
    position: relative;
    background: var(--cor02) url('../images/imgs/img-fundo.png') center top no-repeat fixed;
    background-size: cover;
}

section.conhecimentos > table{
    background-color: var(--cor03);
    color: var(--cor06);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    text-align: center;
}

section.conhecimentos table > tr > td{
    width: 100px;
    height: 100px;
}

/*=== Estilos do Aside ===*/

aside{
    width: 100%;
    display: flex;
}

aside > section{
    width: 100%;
    text-align: center;
}

aside h1{
    padding: 20px;
    color: var(--cor01);
}

section.info-pessoal{
    background-color: var(--cor04);
}
section.info-pessoal > table{
    width: 300px;
    height: 250px;
    margin: auto;
    color: var(--cor01);
}

section.info-pessoal table > tr > td{
    width: 100px;
    height: 50px;
}

section.fale-comigo{
    background-color: var(--cor03);
}

section.fale-comigo input, textarea{
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--cor02);
    border-left: 2px solid var(--cor02);
    background-color: transparent;
}

section.fale-comigo input::placeholder, textarea::placeholder{
    color: var(--cor01);
    font-size: 12px;
}

section.fale-comigo button{
    width: 70px;
    height: 30px;
    background-color: var(--cor02);
    margin: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

section.fale-comigo button:hover{
    border: 1px solid var(--cor01);
}

/*=== Estilos do Footer ===*/

footer{
    width: 100%;
    background-color: var(--cor02);
    color: var(--cor01);
    display: flex;
}

footer > section{
    width: 100%;
    padding: 50px;
}

section.redes-sociais > div > a{
    text-decoration: none;
}

section.redes-sociais > div > a > img{
    width: 25px;
    height: 25px;
    margin: 10px 15px;
}

section.curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.curriculo > div > a{
    color: var(--cor07);
}

section.curriculo > div > a:hover{
    text-decoration: none;
}

section.curriculo > div > p{
    font-size: 12px;
    margin: 10px 0px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}