@charset "UTF-8";

/*Font Family Criada*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Comforta';
    src: url('../fonts/comforta/Comfortaa-Regular.ttf') format('truetype');
}

/*Lista de Cores*/

:root{
    --cor01: #0D0D0D;
    --cor02: #F2F3F5;
    --cor03: #737373;
    --cor04: #9BBF9D;
    --cor05: #5DA662;
    --cor06: #00000077;
}

/*Configurações Globais*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: Comforta, Arial, sans-serif;
}

/*Estilos do Body*/

body h1{
    font-family: Roboto, Arial, sans-serif;
    font-size: 2em;
}

/*Estilos do Header*/

header{
    width: 100%;
    background-color: var(--cor01);
    color: var(--cor02);
    display: flex;
}

header > section{
    width: 100%;
}

section.head-pessoal{
    padding: 30px;
    text-align: center;
}

section.head-pessoal > p{
    padding: 5px 0px;
    color: var(--cor03);
}

section.head-pessoal > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section.head-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.head-menu > nav > a{
    color: var(--cor02);
    padding: 0px 5px;
}

section.head-menu > nav > a:hover{
    text-decoration: none;
}

/*Estilos da Main*/

main{
    width: 100%;
    background: var(--cor02) url('../images/imagem_fundo.png') center top no-repeat fixed;
    background-size: cover;
}

main h1{
    padding: 25px;
}

section.profissional{
    height: 350px;
    position: relative;
    overflow: hidden;
    background-color: var(--cor02);
}

div.abas{
    width: 300%;
    display: flex;
}

div.aba{
    width: 33.33%;
    transition: 0.5s;
}

div.aba > div{
    padding: 80px;
    line-height: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.aba > div > p{
    padding-left: 30px;
}

div.atual{
    transition: 0.5s;
}

div.left{
    position: absolute;
    top: 50%;
    left: 1%;
}

div.right{
    position: absolute;
    top: 50%;
    right: 1%;
}

div.left button, div.right button{
    width: 50px;
    height: 50px;
    font-size: 2em;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
}

div.nav{
    display: flex;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -4%);
}

div.nav > div{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid var(--cor01);
    cursor: pointer;
}

div.nav > div.atual{
    background-color: var(--cor01);
}

section.conhecimento{
    height: 500px;
    position: relative;
}

section.conhecimento > table{
    background-color: var(--cor05);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--cor06);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    text-align: center;
}

section.conhecimento table td{
    width: 100px;
    height: 100px;
}

/*Estilos do Aside*/

aside{
    width: 100%;
    display: flex;
}

aside > section{
    width: 100%;
    text-align: center;
}

aside h1{
    padding: 20px;
}

section.info-pessoal{
    background-color: var(--cor04);
}

section.info-pessoal > table{
    width: 300px;
    height: 250px;
    margin: auto;
}

section.info-pessoal table td{
    width: 100px;
    height: 50px;
}

section.fale-comigo{
    background-color: var(--cor05);
}

section.fale-comigo input, textarea{
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor01);
    background-color: transparent;
}

section.fale-comigo input::placeholder, textarea::placeholder{
    color: var(--cor01);
    font-family: Comforta, Arial, sans-serif;
    font-size: 12px;
}

section.fale-comigo button{
    background-color: var(--cor02);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: Comforta, Arial, sans-serif;
}

/*Estilos do Footer*/

footer{
    width: 100%;
    background-color: var(--cor02);
    color: var(--cor01);
    display: flex;
}

footer > section{
    width: 100%;
    padding: 50px;
}

section.redes-sociais > nav > a{
    text-decoration: none;
    color: var(--cor01);
}

section.redes-sociais > nav > a > img{
    width: 25px;
    height: 25px;
    margin: 10px 7px;
}

section.curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.curriculo > nav > a{
    color: var(--cor01);
}

section.curriculo > nav > a:hover{
    text-decoration: none;
}

section.curriculo > nav > p{
    font-size: 12px;
    margin: 10px 0px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}