@charset "UTF-8";

/*Font Family Criada*/

@font-face {
    font-family: 'Robot';
    src: url('../Fontes/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Philosopher';
    src: url('../Fontes/Philosopher-Regular.ttf') format('truetype');
}

/*Lista de Cores*/

:root{
    --cor01: #590212;
    --cor02: #568FA6;
    --cor03: #48733C;
    --cor04: #1A2601;
    --cor05: #F2F2F2;
}

/*Estilos do Body*/

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos do Header*/

header{
    background-color: var(--cor03);
    color: var(--cor05);
    display: flex;
    font-family: Robot, Arial, sans-serif;
}

header div{
    width: 100%;
    text-align: center;
    padding: 20px;
}

#pessoal h1{
    margin: 0px;
}

#pessoal img{
    width: 149px;
    height: 149px;
    border-radius: 100px;
}

#menu{
    font-family: Philosopher, Arial, sans-serif;
}

#menu ul{
    margin: 0px;
    padding-top: 100px;
    list-style: none;
    display: flex;
}

#menu a{
    color: var(--cor05);
    text-decoration: none;
    padding-left: 25px;
}

/*Estilos do Main*/

main h1{
    font-family: Robot, Arial, sans-serif;
}

main p{
    font-family: Philosopher, Arial, sans-serif;
}

#profissional p{
    margin: 0px;
}

#contato{
    display: flex;
    color: var(--cor05);
}

#dados{
    width: 100%;
    background-color: var(--cor02);
    text-align: center;
}

#dados p{
    width: 220px;
    margin: auto;
    display: inline-block;
    padding: 15px;
    padding-top: 25px;
}

#fale{
    width: 100%;
    background-color: var(--cor01);
    overflow: hidden;
    text-align: center;
}

#fale input{
    width: 250px;
    border-radius: 25px;
}

#fale textarea{
    border-radius: 25px;
}

/*Estilos do footer*/

footer{
    background-color: var(--cor04);
    color: var(--cor05);
    height: 300px;
}

footer h3{
    margin: 0px;
    padding-top: 10px;
}

footer a{
    text-decoration: none;
}

footer a > img{
    width: 26px;
    height: 25px;
    padding: 10px;
}