@charset "UTF-8";

/*Font Family Criada*/

@font-face {
    font-family: 'Robot';
    src: url('../Fontes/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Philosopher';
    src: url('../Fontes/Philosopher-Regular.ttf') format('truetype');
}

/*Lista de Cores*/

:root{
    --cor01: #000000;
    --cor02: #004F2D;
    --cor03: #0C2145;
    --cor04: #E6E6E9;
    --cor05: #1E91D6;
    --cor06: #F2F2F2;
}

/*Estilos do Body*/

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos do Header*/

header{
    background-color: var(--cor01);
    color: var(--cor04);
    display: flex;
    font-family: Robot, Arial, sans-serif;
}

header div{
    width: 100%;
    text-align: center;
    padding: 20px;
}

#pessoal h1{
    margin: 0px;
}

#pessoal img{
    width: 150px;
    height: 150px;
    border-radius: 65px;
}

#menu{
    font-family: Philosopher, Arial, sans-serif;
}

#menu ul{
    margin: 0px;
    padding-top: 100px;
    list-style: none;
    display: flex;
}

#menu a{
    text-decoration: none;
    padding-left: 25px;
    color: var(--cor04);
}

/*Estilos do Main*/

main{
    background-color: var(--cor06);
    font-family: Philosopher, Arial, sans-serif;
    background-image: url('../Imagens/imagem_fundo.png');
}

#profissional{
    background-color: var(--cor06);
}

#profissional p{
    margin: 0px;
}

#habilidades{
    margin: auto;
    width: 600px;
    height: 300px;
    background-color: var(--cor05);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.465);
}

/*Estilos do Aside*/

aside{
    display: flex;
    color: var(--cor04);
    font-family: Philosopher, Arial, sans-serif;
}

aside h1{
    font-family: Robot, Arial, sans-serif;
}

#dados{
    width: 100%;
    background-color: var(--cor03);
    text-align: center;
    overflow: hidden;
}

#dados p{
    width: 220px;
    margin: auto;
    display: inline-block;
    padding: 20px;
}

#contato{
    width: 100%;
    background-color: var(--cor02);
    overflow: hidden;
    text-align: center;
}

#contato input{
    width: 250px;
    border-radius: 25px;
}

#contato textarea{
    border-radius: 25px;
}

/*Estilos do footer*/

footer{
    background-color: var(--cor04);
    color: var(--cor01);
    height: 200px;
    display: flex;
    font-family: Philosopher, Arial, sans-serif;
}

#redes{
    width: 100%;
    padding: 50px;
}

#redes h3{
    margin: 0px;
}

#redes a{
    text-decoration: none;
}

#redes a > img{
    width: 26px;
    height: 25px;
    padding: 10px;
}

#curriculo{
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

#curriculo a{
    text-decoration: none;
    color: var(--cor04);
    font-size: 20pt;
    background-color: var(--cor03);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.465);
    padding: 5px;
}