@charset "UTF-8";

/*Font Family Criada*/
@font-face {
    font-family: 'Rexlia';
    src: url('../Fontes/rexlia_rg.otf') format('truetype');
}

@font-face {
    font-family: 'Robot';
    src: url('../Fontes/Roboto-Thin.ttf') format('truetype');
}

/*Lista de Cores*/
:root{
    --cor01: #590212;
    --cor02: #568FA6;
    --cor03: #48733C;
    --cor04: #1A2601;
    --cor05: #F2F2F2;
}

/*Estilos do Body*/
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos do Header*/
header{
    background-color: var(--cor03);
    color: var(--cor05);
    display: flex;
    font-family: Robot, Arial, sans-serif;
}

#head-1{
    width: 100%;
    text-align: center;
}

#head-1 h1{
    margin: 0px;
}

#head-1 img{
    width: 149px;
    height: 149px;
    border-radius: 100px;
}

#head-2{
    width: 100%;
    text-align: center;
    font-family: Rexlia, Arial, sans-serif;
}

#head-2 ul{
    margin: 0px;
    padding-top: 100px;
    list-style: none;
    display: flex;
}

#head-2 a{
    color: var(--cor05);
    text-decoration: none;
    padding-left: 25px;
    padding-top: 50%;
}

/*Estilos do Main*/
#info-p p{
    margin: 0px;
}

#info-c{
    display: flex;
    color: var(--cor05);
}

#contato{
    width: 100%;
    background-color: var(--cor02);
    text-align: center;
    overflow: hidden;
}

#contato h1{
    font-family: Robot, Arial, sans-serif;
}

#contato li{
    list-style: none;
    padding: 10px;
}

#falar{
    width: 100%;
    background-color: var(--cor01);
    text-align: center;
    overflow: hidden;
}

#falar h1{
    font-family: Robot, Arial, sans-serif;
}